YADFCPERM/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "YADFCPERM"
		},
		"AzureSqlMI2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlMI2'"
		},
		"AzureSqlMI3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlMI3'"
		},
		"DoNotContact_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DoNotContact'"
		},
		"MSX_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MSX'"
		},
		"Source_Pool_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Source_Pool'"
		},
		"vnxt_reporting_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'vnxt_reporting'"
		},
		"integrationRuntime3_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/b09a733b-fd6e-4f65-9c69-8c33c48495fe/resourcegroups/ADFCPERMPartnerCenter/providers/Microsoft.DataFactory/factories/YADFCPERM/integrationruntimes/integrationRuntime2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMI2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlMI2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMI3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlMI3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DoNotContact')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('DoNotContact_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSX')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('MSX_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Pool')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('Source_Pool_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vnxt_reporting')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlMI",
				"typeProperties": {
					"connectionString": "[parameters('vnxt_reporting_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "IR",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime3')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('integrationRuntime3_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AccountHierarchy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate AccountHierarchy",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "---Truncate Table [dbo].[AccountHierarchy]\n\nselect 1 abcd\n"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Reporting Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vnxt_reporting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vnxt_Delta_Search_Trend_Reports')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delta Report",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC dbo.usp_Delta_Report"
								}
							]
						}
					},
					{
						"name": "Pool",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Delta Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "Exec [dbo].[Vnxt_Pool]"
								}
							]
						}
					},
					{
						"name": "Rejection Trend",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Pool",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "Exec [dbo].[Vnxt_Rejection_Trend_Report]"
								}
							]
						}
					},
					{
						"name": "Trend",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Rejection Trend",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "Exec [dbo].[Vnxt_Trend_Report] "
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Reporting Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vnxt_reporting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vnxt_Report_Detail_Sub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BKP TempReport_Summary_Detai",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "IF EXISTS(Select * from sysobjects where name = 'TempReport_Summary_Detail' and type = 'U')\nBEGIN\nEXEC dbo.CreateBackup 'dbo','TempReport_Summary_Detail'\nDROP TABLE dbo.TempReport_Summary_Detail\nEND\n"
								}
							]
						}
					},
					{
						"name": "Create and update TempReport_Summary_Detail",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "BKP TempReport_Summary_Detai",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "Select CASE WHEN ISNULL(S.RejectionCount,0) = 0 THEN 'Included'\nELSE 'Rejected' END AS InSample\n,Sou.[SourceName] AS SourceName\n,S.GRSListId\n,Grs.[GRSBucket] AS GRSBucket\n,Seg.[SegmentName] AS SegmentName\n,Sub.[SubSegment] AS SubSegmentName\n,ET.[EngagementType] AS [EngagementType]\n,DET.[DetailedEngagementType] AS [DetailedEngagementType]\n,Com.[ActiveCompetencies] AS CompetancyLevel\n,S.[CompanyName] AS CompanyName\n,S.[AccountNumber] as AccountId\n,S.[ContactNumber] as ContactId\n,S.[MPNID] AS MPNID\n,CASE WHEN S.KeyContact = 1 THEN 'Y' ELSE 'N' END AS KeyContact\n,CASE WHEN S.ManagedContact = 1 THEN 'Y' ELSE 'N' END AS ManagedContact\n,S.[FirstName] AS FirstName\n,S.[LastName] AS LastName\n,S.[EmailAddress] AS EmailAddress\n,CASE WHEN S.AllowEmail = 1 THEN 'Y' ELSE 'N' END AS AllowEmail\n,S.[JobRole] AS JobRole\n,S.[JobTitle] AS JobTitle\n,MA.[MarketAudience] AS MarketAudience\n,Pl.[Language] AS PreferredLanguageId\n,S.[City] AS City\n,S.[State] AS State\n,S.[StreetAddress] AS StreetAddress\n,S.[PostalCode] AS PostalCode\n,C.[CountryName] AS CountryName\n,S.AccountManager\n,S.SubsidiaryID\n,SR.SubsidiaryName\n,SR.AreaName\n,SR.RegionName\n,SR.SubRegionName\n,S.RejectionCount\n,S.RejectionSubTypes\n,ISNULL(S.IsFixable,0) AS IsFixable\n----------NonFixable\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%DNC Poland%' \nOR ISNULL(S.RejectionSubTypes,'') like '%DNC Germany%' \nOR ISNULL(S.RejectionSubTypes,'') like '%DNC France%' \nOR ISNULL(S.RejectionSubTypes,'') like '%DNC Canada%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS DNCLocalSuppression\n,'' AS DNCPriorWaveHardBounceBack\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%DNC MMDS Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Retail Survey Priority Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%OEM Survey Priority Suppression%')  AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS OtherSurveySuppression\n,(Case WHEN ISNULL(S.RejectionSubTypes,'') like '%Geneva Undeliverable%' AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS DNCMDMHardSuppress\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Local Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Hierarchy De-Duplication%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing IsMaps%' \nOR ISNULL(S.RejectionSubTypes,'') like '%NMP%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Partner Organization%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Geography Out of Scope%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing DetailedEngagementType%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing SubSegment%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Segment%' \nOR ISNULL(S.RejectionSubTypes,'') like '%MSHK Competitor Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Russia Competitor Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Hard Bounce Back%'  \nOR ISNULL(S.RejectionSubTypes,'') like '%FAR Clause Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Prior Wave Survey DQ%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Competitor Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Company Wide Anti Survey Suppression%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS OtherNonFixable\n,(Case WHEN ISNULL(S.RejectionSubTypes,'') like '%Global Company Suppression%' AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS GlobalCompanySuppression\n,(Case WHEN ISNULL(S.RejectionSubTypes,'') like '%Duplicate records%' AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS DeDupeinSameBucket\n--------Fixable\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Survey Vendor Unsubscribe%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Non-Personal Emails%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Not In Managed List%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Geneva Undeliverable%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Dummy Emails%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Contact Preference%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS OtherFixable\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Missing FirstName%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing LastName%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Invalid or Missing company name%')  AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS MissingNameCompanyFirstLast\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Missing Email%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Invalid Email or Format%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS InvalidMissingEmail\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Missing Country%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing SubsidiaryName%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing AccountManager%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing City (NMP Only)%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing ContactID%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing AccountID%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Partner Number%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Postal Code (US Only)%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Company Street Address%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS InvalidMissingFields\nINTO dbo.TempReport_Summary_Detail\nFROM dbo.Scorecard S with(nolock)\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Country] C with(nolock) ON S.[CountryId] = C.[CountryId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_MarketAudience] MA with(nolock) ON S.[MarketAudienceID] = MA.[MarketAudienceID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Segment] Seg with(nolock) ON S.[SegmentId] = Seg.[SegmentId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_SubSegment] Sub with(nolock) ON S.[SubSegmentId] = Sub.[SubSegmentId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_ActiveCompetencies] Com with(nolock) ON S.[CompetencyID] = Com.[ID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Language] Pl with(nolock) ON S.[PreferredLanguageId] = Pl.[LanguageId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_GRSList] Grs with(nolock) ON S.[GRSListID] = Grs.[GRSListID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Source] Sou with(nolock) ON S.[GRSDataSourceID] = Sou.[SourceId]\nLEFT JOIN [vnxt_Reporting].[dbo].[SubsidiaryDetails] SR with(nolock) ON S.[SubsidiaryID] = SR.[SubsidiaryID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_EngagementType] ET with(nolock) ON S.[EngagementTypeId] = ET.[EngagementTypeId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_DetailedEngagementType] DET with(nolock) ON S.[DetailedEngagementTypeId] = DET.[DetailedEngagementTypeId]\nWHERE 1=1\n\n\nUpdate dbo.TempReport_Summary_Detail\nSet GRSBucket = 'Customer - SMB MPAA'\nWhere GRSBucket = 'Customer -  SMB MPAA ITP'\n\n\nUpdate dbo.TempReport_Summary_Detail\nSet GRSBucket = 'Customer - SMB MPAA'\nWhere GRSBucket = 'Customer -  SMB MPAA BDM'\n\nUpdate dbo.TempReport_Summary_Detail\nSet MarketAudience = ''\nWhere MarketAudience = '0'\n\nUpdate S\nSet SubSegmentName = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE SubSegmentName = '0'\n\n\nUpdate S\nSet SegmentName = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE SegmentName = '0'\n\nUpdate S\nSet [DetailedEngagementType] = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE [DetailedEngagementType] = '0'\n\nUpdate S\nSet [EngagementType] = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE [EngagementType] = '0'"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Reporting Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vnxt_reporting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vnxt_Report_Scorecard_Detail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TempReport_Scorecard_Detail",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "IF EXISTS(Select * from sysobjects where name = 'TempReport_Scorecard_Detail' and type = 'U')\nBEGIN\nEXEC dbo.CreateBackup 'dbo','TempReport_Scorecard_Detail'\nDROP TABLE dbo.TempReport_Scorecard_Detail\nEND"
								}
							]
						}
					},
					{
						"name": "Create TempReport_Scorecard_Detail",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "TempReport_Scorecard_Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\n\nSelect \nCla.Classification\n,Grs.GRSBucket\n,Sub.AreaName\n,Sub.SubRegionName\n,Count(1) AS TotalCount\n,Count(CASE WHEN ISNULL(S.RejectionCount,0) = 0 THEN 1 END) AS SampleCount\n,Count(CASE WHEN ISNULL(S.RejectionCount,0) != 0 AND ISNULL(S.IsFixable,0) = 1 THEN 1 END) AS FixableRejectionCount\n,Count(CASE WHEN ISNULL(S.RejectionCount,0) != 0 AND ISNULL(S.IsFixable,0) = 0 THEN 1 END) AS NonFixableRejectionCount\nINTO dbo.TempReport_Scorecard_Detail\nFROM [vnxt_Reporting].dbo.Scorecard S with(Nolock)\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_GRSList] Grs with(nolock)\nON S.[GRSListID] = Grs.[GRSListID]\nLEFT JOIN [vnxt_Reporting].[dbo].[wk_Cat_Core_GRSLists] Cla with(nolock)\nON S.[GRSListID] = Cla.[GRSListID]\nINNER JOIN [vnxt_Reporting].dbo.SubsidiaryDetails Sub with(nolock)\nON S.SubsidiaryId = Sub.SubsidiaryId\nWHERE 1=1\nGroup By Cla.Classification\n,Grs.GRSBucket\n,Sub.AreaName\n,Sub.SubRegionName\n\n\nUpdate dbo.[TempReport_Scorecard_Detail]\nSet GRSBucket = 'Customer - SMB MPAA'\nWhere GRSBucket = 'Customer -  SMB MPAA ITP'\n\nUpdate dbo.[TempReport_Scorecard_Detail]\nSet GRSBucket = 'Customer - SMB MPAA'\nWhere GRSBucket = 'Customer -  SMB MPAA BDM'\n"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Reporting Pipeline"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vnxt_reporting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Desr_vnxt_Reporting_Scorecard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vnxt_reporting",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Dest Report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRSListId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "GRSDataSourceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentAccountNumber",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "AccountNumber",
						"type": "varchar"
					},
					{
						"name": "ContactID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ContactNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "ParentPartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentPartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerAccountNumber",
						"type": "varchar"
					},
					{
						"name": "MPLID",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "MSSalesID",
						"type": "varchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Vertical",
						"type": "varchar"
					},
					{
						"name": "VerticalIndustry",
						"type": "varchar"
					},
					{
						"name": "Industry",
						"type": "varchar"
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TierLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesSubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "AreaID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubRegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubsidiaryID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CountryId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubSegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DetailedEngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PrimaryMarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AllowCalls",
						"type": "bit"
					},
					{
						"name": "AllowDMail",
						"type": "bit"
					},
					{
						"name": "AllowEMail",
						"type": "bit"
					},
					{
						"name": "KeyContact",
						"type": "bit"
					},
					{
						"name": "ManagedAccount",
						"type": "bit"
					},
					{
						"name": "ManagedContact",
						"type": "bit"
					},
					{
						"name": "DecisionMakerFlag",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PreferredLanguageId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MPNHeadQuartersId",
						"type": "varchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "VOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "VOrganization_PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganization_PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PCCount",
						"type": "varchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "varchar"
					},
					{
						"name": "OrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "OrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "ParentOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "SourceLanguage",
						"type": "nvarchar"
					},
					{
						"name": "PartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerSubTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrganizationPartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentStatusID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentingLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompetencyID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "ContactTypePriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TierLevelPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Priority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerName",
						"type": "nvarchar"
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "RejectionCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RejectionSubTypes",
						"type": "nvarchar"
					},
					{
						"name": "IsFixable",
						"type": "varchar"
					},
					{
						"name": "DeDupeContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "InsertedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InsertedBy",
						"type": "varchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneName",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPDM",
						"type": "nvarchar"
					},
					{
						"name": "CSA",
						"type": "nvarchar"
					},
					{
						"name": "PMA",
						"type": "nvarchar"
					},
					{
						"name": "PDMR",
						"type": "nvarchar"
					},
					{
						"name": "IsEngaged",
						"type": "bit"
					},
					{
						"name": "HasValidPDM",
						"type": "bit"
					},
					{
						"name": "IsManaged",
						"type": "bit"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "varchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "ISCALCMastered",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Scorecard"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vnxt_reporting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_AttributesValidationWithMALMPL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "CRMID",
						"type": "nvarchar"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager in FinalTable",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager in MAL",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager in MPL",
						"type": "nvarchar"
					},
					{
						"name": "Segment in FinalTable",
						"type": "nvarchar"
					},
					{
						"name": "Segment in MAL",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment in FinalTable",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment in MAL",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization in Final Table",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization in MPL",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSubSpecialization in Final Table",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization in MPL",
						"type": "nvarchar"
					},
					{
						"name": "Checkpoint_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attributes_Validation_MAL_MPL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_CRs_NewCheckpoints')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY22",
						"type": "varchar"
					},
					{
						"name": "Region_FY22",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY22",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY22",
						"type": "varchar"
					},
					{
						"name": "Segment_FY22",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY22",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Industry_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY22",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "PDM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY22",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY22",
						"type": "varchar"
					},
					{
						"name": "CSA_FY22",
						"type": "varchar"
					},
					{
						"name": "PMA_FY22",
						"type": "varchar"
					},
					{
						"name": "PTS_FY22",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrimaryRoleType_FY22",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY22",
						"type": "nvarchar"
					},
					{
						"name": "Checkpoint_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CRs_CheckpointAddition"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_Donotcontact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					},
					{
						"name": "MPLAccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "ISCALCMastered",
						"type": "bit"
					},
					{
						"name": "PODValue",
						"type": "nvarchar"
					},
					{
						"name": "CloudAdoption",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY22",
						"type": "varchar"
					},
					{
						"name": "Region_FY22",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY22",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY22",
						"type": "varchar"
					},
					{
						"name": "Segment_FY22",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY22",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Industry_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY22",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "PDM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY22",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY22",
						"type": "varchar"
					},
					{
						"name": "CSA_FY22",
						"type": "varchar"
					},
					{
						"name": "PMA_FY22",
						"type": "varchar"
					},
					{
						"name": "PTS_FY22",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY22",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY22",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Do_Not_Contact"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_FY22Q3_KSRFeedback')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY22",
						"type": "varchar"
					},
					{
						"name": "Region_FY22",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY22",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY22",
						"type": "varchar"
					},
					{
						"name": "Segment_FY22",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY22",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Industry_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY22",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "PDM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY22",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY22",
						"type": "varchar"
					},
					{
						"name": "CSA_FY22",
						"type": "varchar"
					},
					{
						"name": "PMA_FY22",
						"type": "varchar"
					},
					{
						"name": "PTS_FY22",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrimaryRoleType_FY22",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY22",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FY22Q3KS&RFeedback"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_GeographyValidation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "CPERMListID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Checkpoint_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Validation_Geography"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_MandatoryFields')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRSBucket",
						"type": "varchar"
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Checkpoint_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Missing_Mandatory_Fields"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_OtherChecks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY22",
						"type": "varchar"
					},
					{
						"name": "Region_FY22",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY22",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY22",
						"type": "varchar"
					},
					{
						"name": "Segment_FY22",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY22",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY22",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY22",
						"type": "varchar"
					},
					{
						"name": "Industry_FY22",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY22",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY22",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "PDM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY22",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY22",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY22",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY22",
						"type": "varchar"
					},
					{
						"name": "CSA_FY22",
						"type": "varchar"
					},
					{
						"name": "PMA_FY22",
						"type": "varchar"
					},
					{
						"name": "PTS_FY22",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PrimaryRoleType_FY22",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY22",
						"type": "nvarchar"
					},
					{
						"name": "Checkpoint_ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Other_Checks"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DoNotContact')]"
			]
		}
	]
}