YADFCPERM/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "YADFCPERM"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Dest_VendorFeedbacks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Dest"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					},
					{
						"name": "MPLAccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "ISCALCMastered",
						"type": "bit"
					},
					{
						"name": "PODValue",
						"type": "nvarchar"
					},
					{
						"name": "CloudAdoption",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Vendor_Feedbacks"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_vnxt_Reporting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vnxt_reporting",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Dest Report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRSListId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "GRSDataSourceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentAccountNumber",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "AccountNumber",
						"type": "varchar"
					},
					{
						"name": "ContactID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ContactNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "ParentPartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentPartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerAccountNumber",
						"type": "varchar"
					},
					{
						"name": "MPLID",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "MSSalesID",
						"type": "varchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Vertical",
						"type": "varchar"
					},
					{
						"name": "VerticalIndustry",
						"type": "varchar"
					},
					{
						"name": "Industry",
						"type": "varchar"
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TierLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesSubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "AreaID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubRegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubsidiaryID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CountryId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubSegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DetailedEngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PrimaryMarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AllowCalls",
						"type": "bit"
					},
					{
						"name": "AllowDMail",
						"type": "bit"
					},
					{
						"name": "AllowEMail",
						"type": "bit"
					},
					{
						"name": "KeyContact",
						"type": "bit"
					},
					{
						"name": "ManagedAccount",
						"type": "bit"
					},
					{
						"name": "ManagedContact",
						"type": "bit"
					},
					{
						"name": "DecisionMakerFlag",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PreferredLanguageId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MPNHeadQuartersId",
						"type": "varchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "VOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "VOrganization_PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganization_PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PCCount",
						"type": "varchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "varchar"
					},
					{
						"name": "OrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "OrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "ParentOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "SourceLanguage",
						"type": "nvarchar"
					},
					{
						"name": "PartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerSubTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrganizationPartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentStatusID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentingLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompetencyID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "ContactTypePriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TierLevelPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Priority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerName",
						"type": "nvarchar"
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "RejectionCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RejectionSubTypes",
						"type": "nvarchar"
					},
					{
						"name": "IsFixable",
						"type": "bit"
					},
					{
						"name": "DeDupeContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "InsertedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InsertedBy",
						"type": "varchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneName",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPDM",
						"type": "nvarchar"
					},
					{
						"name": "CSA",
						"type": "nvarchar"
					},
					{
						"name": "PMA",
						"type": "nvarchar"
					},
					{
						"name": "PDMR",
						"type": "nvarchar"
					},
					{
						"name": "IsEngaged",
						"type": "bit"
					},
					{
						"name": "HasValidPDM",
						"type": "bit"
					},
					{
						"name": "IsManaged",
						"type": "bit"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "varchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "ISCALCMastered",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AccountHierarchy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dest_vnxt_reporting_account_Hierarchy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vnxt_reporting",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Dest Report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountId",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountMPLId",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "InsertedOn",
						"type": "nvarchar"
					},
					{
						"name": "InsertedBy",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedOn",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedBy",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PartnerAccountHierarchy"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Scorecard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlMI3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRSListId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "GRSDataSourceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentAccountNumber",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "AccountNumber",
						"type": "varchar"
					},
					{
						"name": "ContactID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ContactNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "ParentPartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentPartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerAccountNumber",
						"type": "varchar"
					},
					{
						"name": "MPLID",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "MSSalesID",
						"type": "varchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Vertical",
						"type": "varchar"
					},
					{
						"name": "VerticalIndustry",
						"type": "varchar"
					},
					{
						"name": "Industry",
						"type": "varchar"
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TierLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesSubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "AreaID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubRegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubsidiaryID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CountryId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubSegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DetailedEngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PrimaryMarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AllowCalls",
						"type": "bit"
					},
					{
						"name": "AllowDMail",
						"type": "bit"
					},
					{
						"name": "AllowEMail",
						"type": "bit"
					},
					{
						"name": "KeyContact",
						"type": "bit"
					},
					{
						"name": "ManagedAccount",
						"type": "bit"
					},
					{
						"name": "ManagedContact",
						"type": "bit"
					},
					{
						"name": "DecisionMakerFlag",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PreferredLanguageId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MPNHeadQuartersId",
						"type": "varchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "VOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "VOrganization_PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganization_PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PCCount",
						"type": "varchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "varchar"
					},
					{
						"name": "OrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "OrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "ParentOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "SourceLanguage",
						"type": "nvarchar"
					},
					{
						"name": "PartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerSubTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrganizationPartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentStatusID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentingLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompetencyID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "ContactTypePriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TierLevelPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Priority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerName",
						"type": "nvarchar"
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "RejectionCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RejectionSubTypes",
						"type": "nvarchar"
					},
					{
						"name": "IsFixable",
						"type": "bit"
					},
					{
						"name": "DeDupeContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "InsertedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InsertedBy",
						"type": "varchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneName",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPDM",
						"type": "nvarchar"
					},
					{
						"name": "CSA",
						"type": "nvarchar"
					},
					{
						"name": "PMA",
						"type": "nvarchar"
					},
					{
						"name": "PDMR",
						"type": "nvarchar"
					},
					{
						"name": "IsEngaged",
						"type": "bit"
					},
					{
						"name": "HasValidPDM",
						"type": "bit"
					},
					{
						"name": "IsManaged",
						"type": "bit"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "varchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "ISCALCMastered",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Scorecard"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_MSX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MSX",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Source report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_TempReport_Scorecard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vnxt_reporting",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Source report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Classification",
						"type": "nvarchar"
					},
					{
						"name": "GRSBucket",
						"type": "varchar"
					},
					{
						"name": "AreaName",
						"type": "varchar"
					},
					{
						"name": "SubRegionName",
						"type": "varchar"
					},
					{
						"name": "TotalCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SampleCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FixableRejectionCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NonFixableRejectionCount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TempReport_Scorecard_Detail"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_vnxt_Reporting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vnxt_reporting",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Source report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRSListId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "GRSDataSourceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentAccountNumber",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "AccountNumber",
						"type": "varchar"
					},
					{
						"name": "ContactID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ContactNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "ParentPartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentPartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerAccountNumber",
						"type": "varchar"
					},
					{
						"name": "MPLID",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "MSSalesID",
						"type": "varchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Vertical",
						"type": "varchar"
					},
					{
						"name": "VerticalIndustry",
						"type": "varchar"
					},
					{
						"name": "Industry",
						"type": "varchar"
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TierLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesSubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "AreaID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubRegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubsidiaryID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CountryId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubSegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DetailedEngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PrimaryMarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AllowCalls",
						"type": "bit"
					},
					{
						"name": "AllowDMail",
						"type": "bit"
					},
					{
						"name": "AllowEMail",
						"type": "bit"
					},
					{
						"name": "KeyContact",
						"type": "bit"
					},
					{
						"name": "ManagedAccount",
						"type": "bit"
					},
					{
						"name": "ManagedContact",
						"type": "bit"
					},
					{
						"name": "DecisionMakerFlag",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PreferredLanguageId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MPNHeadQuartersId",
						"type": "varchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "VOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "VOrganization_PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganization_PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PCCount",
						"type": "varchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "varchar"
					},
					{
						"name": "OrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "OrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "ParentOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "SourceLanguage",
						"type": "nvarchar"
					},
					{
						"name": "PartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerSubTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrganizationPartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentStatusID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentingLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompetencyID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "ContactTypePriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TierLevelPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Priority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerName",
						"type": "nvarchar"
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "RejectionCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RejectionSubTypes",
						"type": "nvarchar"
					},
					{
						"name": "IsFixable",
						"type": "varchar"
					},
					{
						"name": "DeDupeContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "InsertedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InsertedBy",
						"type": "varchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneName",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPDM",
						"type": "nvarchar"
					},
					{
						"name": "CSA",
						"type": "nvarchar"
					},
					{
						"name": "PMA",
						"type": "nvarchar"
					},
					{
						"name": "PDMR",
						"type": "nvarchar"
					},
					{
						"name": "IsEngaged",
						"type": "bit"
					},
					{
						"name": "HasValidPDM",
						"type": "bit"
					},
					{
						"name": "IsManaged",
						"type": "bit"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "varchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "ISCALCMastered",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Scorecard"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_vnxt_pool')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Source_Pool",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Reporting Dataset/Source report"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "GRSListId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "GRSDataSourceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentAccountNumber",
						"type": "varchar"
					},
					{
						"name": "AccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "AccountNumber",
						"type": "varchar"
					},
					{
						"name": "ContactID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ContactNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "ParentPartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentPartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerAccountID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerAccountNumber",
						"type": "varchar"
					},
					{
						"name": "MPLID",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "MSSalesID",
						"type": "varchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Vertical",
						"type": "varchar"
					},
					{
						"name": "VerticalIndustry",
						"type": "varchar"
					},
					{
						"name": "Industry",
						"type": "varchar"
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TierLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesSubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "AreaID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubRegionID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubsidiaryID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CountryId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "SubSegmentId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "DetailedEngagementTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PrimaryMarketAudienceID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "AllowCalls",
						"type": "bit"
					},
					{
						"name": "AllowDMail",
						"type": "bit"
					},
					{
						"name": "AllowEMail",
						"type": "bit"
					},
					{
						"name": "KeyContact",
						"type": "bit"
					},
					{
						"name": "ManagedAccount",
						"type": "bit"
					},
					{
						"name": "ManagedContact",
						"type": "bit"
					},
					{
						"name": "DecisionMakerFlag",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PreferredLanguageId",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MPNHeadQuartersId",
						"type": "varchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "VOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "VOrganization_PartnerID",
						"type": "uniqueidentifier"
					},
					{
						"name": "VOrganization_PartnerNumber",
						"type": "varchar"
					},
					{
						"name": "PCCount",
						"type": "varchar"
					},
					{
						"name": "NumberOfEmployees",
						"type": "varchar"
					},
					{
						"name": "OrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "OrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "ParentOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "ParentOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "PartnerOrganizationID",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartnerOrganizationNumber",
						"type": "varchar"
					},
					{
						"name": "SourceLanguage",
						"type": "nvarchar"
					},
					{
						"name": "PartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerSubTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OrganizationPartnerTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentStatusID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ParentingLevelID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CompetencyID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "ContactTypePriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "EnrollmentPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "TierLevelPriority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Priority",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "PartnerName",
						"type": "nvarchar"
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "DeDupeContactTypeID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneName",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryPDM",
						"type": "nvarchar"
					},
					{
						"name": "CSA",
						"type": "nvarchar"
					},
					{
						"name": "PMA",
						"type": "nvarchar"
					},
					{
						"name": "PDMR",
						"type": "nvarchar"
					},
					{
						"name": "HasValidMPNID",
						"type": "bit"
					},
					{
						"name": "IsEngaged",
						"type": "bit"
					},
					{
						"name": "HasValidPDM",
						"type": "bit"
					},
					{
						"name": "IsManaged",
						"type": "bit"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "AccountDescription",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "varchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "RejectionSubTypes",
						"type": "varchar"
					},
					{
						"name": "RejectionCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "isFixable",
						"type": "varchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "ContactSource",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "vw_vnxt_Pool"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_AttributesValidation_MAL_MPL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_CRs_CheckpointAddition')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_Donotcontact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_FY22Q3_KSRFeedback')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_GeographyValidation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_Mandatory_Fields')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_Other_Checks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_SelectionCritera')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_Tagging_Fields')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sr_VendorFeedback')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DoNotContact",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "QC Datasets/Source"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Description1",
						"type": "varchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "QC Date",
						"type": "date"
					},
					{
						"name": "Checkpoint_ID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMDataSourceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERMListid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CPERM_Segment_classification",
						"type": "varchar"
					},
					{
						"name": "MSSalesTopParentID",
						"type": "varchar"
					},
					{
						"name": "ParentAccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountID",
						"type": "nvarchar"
					},
					{
						"name": "AccountManager",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "StreetAddress1",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "SubSegment",
						"type": "nvarchar"
					},
					{
						"name": "ContactID",
						"type": "nvarchar"
					},
					{
						"name": "ContactID2",
						"type": "nvarchar"
					},
					{
						"name": "KeyContact",
						"type": "nvarchar"
					},
					{
						"name": "Prefix",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "MainPhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryMarketAudience",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail",
						"type": "nvarchar"
					},
					{
						"name": "AllowDMail",
						"type": "nvarchar"
					},
					{
						"name": "AllowCalls",
						"type": "nvarchar"
					},
					{
						"name": "PreferredLanguage",
						"type": "nvarchar"
					},
					{
						"name": "OrganizationType",
						"type": "varchar"
					},
					{
						"name": "Sector",
						"type": "nvarchar"
					},
					{
						"name": "Industry",
						"type": "nvarchar"
					},
					{
						"name": "Vertical",
						"type": "nvarchar"
					},
					{
						"name": "Tier",
						"type": "nvarchar"
					},
					{
						"name": "SalesRegion",
						"type": "nvarchar"
					},
					{
						"name": "SalesDistrict",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict",
						"type": "nvarchar"
					},
					{
						"name": "PhysicalDistrict",
						"type": "nvarchar"
					},
					{
						"name": "Area",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "SubRegion",
						"type": "nvarchar"
					},
					{
						"name": "SubsidiaryName",
						"type": "nvarchar"
					},
					{
						"name": "ParentingLevel",
						"type": "nvarchar"
					},
					{
						"name": "ATUName",
						"type": "nvarchar"
					},
					{
						"name": "ATUManager",
						"type": "nvarchar"
					},
					{
						"name": "ATUAccountManager",
						"type": "nvarchar"
					},
					{
						"name": "VerticalCategory",
						"type": "nvarchar"
					},
					{
						"name": "MSPP_Partner_Type",
						"type": "nvarchar"
					},
					{
						"name": "EP_P_Detailed Engagement Type4",
						"type": "nvarchar"
					},
					{
						"name": "UPP_Ind_ID",
						"type": "nvarchar"
					},
					{
						"name": "UPP_MSO_Org_ID",
						"type": "nvarchar"
					},
					{
						"name": "Src_MP_SWO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_NMP",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_CM_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_PS_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_ENT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_ST_PS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SM_Comm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Edu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_Gov",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_PS_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_SMC_SMB",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_ISV",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_IT_PRO_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_BDM_MPAA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_OEM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_SWO",
						"type": "nvarchar"
					},
					{
						"name": "AM_CM_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_PS_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_ENT",
						"type": "nvarchar"
					},
					{
						"name": "AM_ST_PS",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Comm",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Edu",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_Gov",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_PS_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_SMC_SMB",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_ISV",
						"type": "nvarchar"
					},
					{
						"name": "AM_OEM",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_OEM",
						"type": "nvarchar"
					},
					{
						"name": "Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_p1_Partner_MSPP_ProgramLevel",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_EngineType",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_MSPP_SB_Specialist",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_Partner_MSPP_Enrollment_Status",
						"type": "varchar"
					},
					{
						"name": "t_p1_Partner_Program_Engagement",
						"type": "bit"
					},
					{
						"name": "t_a1_ManagedContact",
						"type": "bit"
					},
					{
						"name": "T_C4_List_Account_Manager",
						"type": "nvarchar"
					},
					{
						"name": "Number_Of_Employees",
						"type": "varchar"
					},
					{
						"name": "PC_Count",
						"type": "varchar"
					},
					{
						"name": "t_g1_previous_sample_contact",
						"type": "bit"
					},
					{
						"name": "t_g1_previous_sample_account",
						"type": "bit"
					},
					{
						"name": "Partner_MSPP_ProgramLevel",
						"type": "nvarchar"
					},
					{
						"name": "t_In_Reserve",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_vd_Culture_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "t_p1_UPP_isMaps",
						"type": "nvarchar"
					},
					{
						"name": "t_MPL_MAL_Coverage",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "Hard_BounceBack",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "T_Source_Contact_DNC",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "ContactNumber",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PartnerNumber",
						"type": "nvarchar"
					},
					{
						"name": "ActiveCompetencies",
						"type": "varchar"
					},
					{
						"name": "EnrollmentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsMaps",
						"type": "bit"
					},
					{
						"name": "IsMapsDD",
						"type": "bit"
					},
					{
						"name": "IsMapsSP",
						"type": "bit"
					},
					{
						"name": "TierLevel",
						"type": "varchar"
					},
					{
						"name": "PartnerType",
						"type": "varchar"
					},
					{
						"name": "t_Baseline",
						"type": "bit"
					},
					{
						"name": "MPLID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartnerAccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "MPNLocationId",
						"type": "varchar"
					},
					{
						"name": "MPNID",
						"type": "varchar"
					},
					{
						"name": "ParentAccount_Industry",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical",
						"type": "nvarchar"
					},
					{
						"name": "ParentAccount_Vertical_Category",
						"type": "nvarchar"
					},
					{
						"name": "MSSalesID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TP_AccountName",
						"type": "nvarchar"
					},
					{
						"name": "OCPCRMID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneSubID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerOneID",
						"type": "nvarchar"
					},
					{
						"name": "PartnerSpecialization",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization",
						"type": "varchar"
					},
					{
						"name": "Engagement",
						"type": "nvarchar"
					},
					{
						"name": "GlobalCoverage",
						"type": "nvarchar"
					},
					{
						"name": "oemsegmenttype",
						"type": "nvarchar"
					},
					{
						"name": "oemorganizationtype",
						"type": "nvarchar"
					},
					{
						"name": "OEMManaged",
						"type": "bit"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "AccountStatus",
						"type": "nvarchar"
					},
					{
						"name": "AccountAddress",
						"type": "nvarchar"
					},
					{
						"name": "GPID",
						"type": "nvarchar"
					},
					{
						"name": "GPName",
						"type": "nvarchar"
					},
					{
						"name": "PDM",
						"type": "nvarchar"
					},
					{
						"name": "IPDM",
						"type": "nvarchar"
					},
					{
						"name": "PTS",
						"type": "nvarchar"
					},
					{
						"name": "PDMM",
						"type": "nvarchar"
					},
					{
						"name": "PTM",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryRoleType",
						"type": "nvarchar"
					},
					{
						"name": "HQ/DS",
						"type": "nvarchar"
					},
					{
						"name": "Primary",
						"type": "nvarchar"
					},
					{
						"name": "IsDelete",
						"type": "bit"
					},
					{
						"name": "Custom#1",
						"type": "nvarchar"
					},
					{
						"name": "Custom#2",
						"type": "nvarchar"
					},
					{
						"name": "Custom#3",
						"type": "nvarchar"
					},
					{
						"name": "TagName",
						"type": "varchar"
					},
					{
						"name": "MobilePhone",
						"type": "nvarchar"
					},
					{
						"name": "Area_FY21",
						"type": "varchar"
					},
					{
						"name": "Region_FY21",
						"type": "varchar"
					},
					{
						"name": "SubRegion_FY21",
						"type": "varchar"
					},
					{
						"name": "Subsidiary_FY21",
						"type": "varchar"
					},
					{
						"name": "Segment_FY21",
						"type": "varchar"
					},
					{
						"name": "SubSegment_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "PartnerSubSpecialization_FY21",
						"type": "varchar"
					},
					{
						"name": "AccountManager_FY21",
						"type": "nvarchar"
					},
					{
						"name": "Industry_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_Parent_FY21",
						"type": "varchar"
					},
					{
						"name": "Industry_FY21",
						"type": "varchar"
					},
					{
						"name": "VerticalCategory_FY21",
						"type": "varchar"
					},
					{
						"name": "Vertical_FY21",
						"type": "varchar"
					},
					{
						"name": "PrimaryPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "PDM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "PDMM_FY21",
						"type": "nvarchar"
					},
					{
						"name": "IPDM_FY21",
						"type": "varchar"
					},
					{
						"name": "Engagement_FY21",
						"type": "varchar"
					},
					{
						"name": "GlobalCoverage_FY21",
						"type": "varchar"
					},
					{
						"name": "CSA_FY21",
						"type": "varchar"
					},
					{
						"name": "PMA_FY21",
						"type": "varchar"
					},
					{
						"name": "PTS_FY21",
						"type": "varchar"
					},
					{
						"name": "Src_MP_GSI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_MS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_GLS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Src_MP_KR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AM_MP_GSI",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_MS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_GLS",
						"type": "nvarchar"
					},
					{
						"name": "AM_MP_KR",
						"type": "nvarchar"
					},
					{
						"name": "Segment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "Subsegment_MPAA",
						"type": "nvarchar"
					},
					{
						"name": "DataSourceName",
						"type": "nvarchar"
					},
					{
						"name": "DimDataSourceID",
						"type": "varchar"
					},
					{
						"name": "PrimaryRoleType_FY21",
						"type": "nvarchar"
					},
					{
						"name": "AllowEmail_SBO",
						"type": "nvarchar"
					},
					{
						"name": "SubDistrict_FY21",
						"type": "nvarchar"
					},
					{
						"name": "SMCTypeSummaryName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "FAREAST\\v-yachou",
					"table": "VW_Usp_Get_DoNotContact"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vnxt_Report_Detail_Sub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BKP TempReport_Summary_Detai",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "IF EXISTS(Select * from sysobjects where name = 'TempReport_Summary_Detail' and type = 'U')\nBEGIN\nEXEC dbo.CreateBackup 'dbo','TempReport_Summary_Detail'\nDROP TABLE dbo.TempReport_Summary_Detail\nEND\n"
								}
							]
						}
					},
					{
						"name": "Create and update TempReport_Summary_Detail",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "BKP TempReport_Summary_Detai",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vnxt_reporting",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "Select CASE WHEN ISNULL(S.RejectionCount,0) = 0 THEN 'Included'\nELSE 'Rejected' END AS InSample\n,Sou.[SourceName] AS SourceName\n,S.GRSListId\n,Grs.[GRSBucket] AS GRSBucket\n,Seg.[SegmentName] AS SegmentName\n,Sub.[SubSegment] AS SubSegmentName\n,ET.[EngagementType] AS [EngagementType]\n,DET.[DetailedEngagementType] AS [DetailedEngagementType]\n,Com.[ActiveCompetencies] AS CompetancyLevel\n,S.[CompanyName] AS CompanyName\n,S.[AccountNumber] as AccountId\n,S.[ContactNumber] as ContactId\n,S.[MPNID] AS MPNID\n,CASE WHEN S.KeyContact = 1 THEN 'Y' ELSE 'N' END AS KeyContact\n,CASE WHEN S.ManagedContact = 1 THEN 'Y' ELSE 'N' END AS ManagedContact\n,S.[FirstName] AS FirstName\n,S.[LastName] AS LastName\n,S.[EmailAddress] AS EmailAddress\n,CASE WHEN S.AllowEmail = 1 THEN 'Y' ELSE 'N' END AS AllowEmail\n,S.[JobRole] AS JobRole\n,S.[JobTitle] AS JobTitle\n,MA.[MarketAudience] AS MarketAudience\n,Pl.[Language] AS PreferredLanguageId\n,S.[City] AS City\n,S.[State] AS State\n,S.[StreetAddress] AS StreetAddress\n,S.[PostalCode] AS PostalCode\n,C.[CountryName] AS CountryName\n,S.AccountManager\n,S.SubsidiaryID\n,SR.SubsidiaryName\n,SR.AreaName\n,SR.RegionName\n,SR.SubRegionName\n,S.RejectionCount\n,S.RejectionSubTypes\n,ISNULL(S.IsFixable,0) AS IsFixable\n----------NonFixable\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%DNC Poland%' \nOR ISNULL(S.RejectionSubTypes,'') like '%DNC Germany%' \nOR ISNULL(S.RejectionSubTypes,'') like '%DNC France%' \nOR ISNULL(S.RejectionSubTypes,'') like '%DNC Canada%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS DNCLocalSuppression\n,'' AS DNCPriorWaveHardBounceBack\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%DNC MMDS Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Retail Survey Priority Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%OEM Survey Priority Suppression%')  AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS OtherSurveySuppression\n,(Case WHEN ISNULL(S.RejectionSubTypes,'') like '%Geneva Undeliverable%' AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS DNCMDMHardSuppress\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Local Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Hierarchy De-Duplication%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing IsMaps%' \nOR ISNULL(S.RejectionSubTypes,'') like '%NMP%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Partner Organization%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Geography Out of Scope%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing DetailedEngagementType%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing SubSegment%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Segment%' \nOR ISNULL(S.RejectionSubTypes,'') like '%MSHK Competitor Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Russia Competitor Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Hard Bounce Back%'  \nOR ISNULL(S.RejectionSubTypes,'') like '%FAR Clause Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Prior Wave Survey DQ%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Competitor Suppression%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Company Wide Anti Survey Suppression%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS OtherNonFixable\n,(Case WHEN ISNULL(S.RejectionSubTypes,'') like '%Global Company Suppression%' AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS GlobalCompanySuppression\n,(Case WHEN ISNULL(S.RejectionSubTypes,'') like '%Duplicate records%' AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 0) THEN 'X' ELSE '' END) AS DeDupeinSameBucket\n--------Fixable\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Survey Vendor Unsubscribe%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Non-Personal Emails%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Not In Managed List%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Geneva Undeliverable%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Dummy Emails%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Contact Preference%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS OtherFixable\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Missing FirstName%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing LastName%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Invalid or Missing company name%')  AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS MissingNameCompanyFirstLast\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Missing Email%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Invalid Email or Format%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS InvalidMissingEmail\n,(Case WHEN (ISNULL(S.RejectionSubTypes,'') like '%Missing Country%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing SubsidiaryName%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing AccountManager%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing City (NMP Only)%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing ContactID%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing AccountID%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Partner Number%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Postal Code (US Only)%' \nOR ISNULL(S.RejectionSubTypes,'') like '%Missing Company Street Address%') AND (ISNULL(S.RejectionCount,0) !=0 AND ISNULL(S.IsFixable,0) = 1) THEN 'X' ELSE '' END) AS InvalidMissingFields\nINTO dbo.TempReport_Summary_Detail\nFROM dbo.Scorecard S with(nolock)\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Country] C with(nolock) ON S.[CountryId] = C.[CountryId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_MarketAudience] MA with(nolock) ON S.[MarketAudienceID] = MA.[MarketAudienceID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Segment] Seg with(nolock) ON S.[SegmentId] = Seg.[SegmentId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_SubSegment] Sub with(nolock) ON S.[SubSegmentId] = Sub.[SubSegmentId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_ActiveCompetencies] Com with(nolock) ON S.[CompetencyID] = Com.[ID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Language] Pl with(nolock) ON S.[PreferredLanguageId] = Pl.[LanguageId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_GRSList] Grs with(nolock) ON S.[GRSListID] = Grs.[GRSListID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_Source] Sou with(nolock) ON S.[GRSDataSourceID] = Sou.[SourceId]\nLEFT JOIN [vnxt_Reporting].[dbo].[SubsidiaryDetails] SR with(nolock) ON S.[SubsidiaryID] = SR.[SubsidiaryID]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_EngagementType] ET with(nolock) ON S.[EngagementTypeId] = ET.[EngagementTypeId]\nLEFT JOIN [vnxt_Catalogues].[dbo].[Lkp_DetailedEngagementType] DET with(nolock) ON S.[DetailedEngagementTypeId] = DET.[DetailedEngagementTypeId]\nWHERE 1=1\n\n\nUpdate dbo.TempReport_Summary_Detail\nSet GRSBucket = 'Customer -SMB MPAA'\nWhere GRSBucket = 'Customer - SMB MPAA ITP'\n\n\nUpdate dbo.TempReport_Summary_Detail\nSet GRSBucket = 'Customer -SMB MPAA'\nWhere GRSBucket = 'Customer - SMB MPAA BDM'\n\nUpdate dbo.TempReport_Summary_Detail\nSet MarketAudience = ''\nWhere MarketAudience = '0'\n\nUpdate S\nSet SubSegmentName = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE SubSegmentName = '0'\n\n\nUpdate S\nSet SegmentName = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE SegmentName = '0'\n\nUpdate S\nSet [DetailedEngagementType] = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE [DetailedEngagementType] = '0'\n\nUpdate S\nSet [EngagementType] = null\nFROM [Vnxt_Reporting].[dbo].[TempReport_Summary_Detail] S with(nolock)\nWHERE [EngagementType] = '0'"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Reporting Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Attributes ValidationWithMALMPL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Attributes Validation With MALMPL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "[[FAREAST\\v-yachou].[Usp_Get_Attributes_Validation_With_MAL_MPL]"
							},
							{
								"name": "Destination",
								"value": "dbo.Attributes_Validation_MAL_MPL"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderStoredProcedureName": "[[FAREAST\\v-yachou].[Usp_Get_Attributes_Validation_With_MAL_MPL]",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year"
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Month"
										}
									},
									{
										"source": {
											"name": "QC Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "QC Date"
										}
									},
									{
										"source": {
											"name": "CPERMListid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CPERMListid"
										}
									},
									{
										"source": {
											"name": "ParentAccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ParentAccountNumber"
										}
									},
									{
										"source": {
											"name": "CRMID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CRMID"
										}
									},
									{
										"source": {
											"name": "MPLID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MPLID"
										}
									},
									{
										"source": {
											"name": "OCPCRMID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OCPCRMID"
										}
									},
									{
										"source": {
											"name": "AccountManager in FinalTable",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountManager in FinalTable"
										}
									},
									{
										"source": {
											"name": "AccountManager in MAL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountManager in MAL"
										}
									},
									{
										"source": {
											"name": "AccountManager in MPL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountManager in MPL"
										}
									},
									{
										"source": {
											"name": "Segment in FinalTable",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Segment in FinalTable"
										}
									},
									{
										"source": {
											"name": "Segment in MAL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Segment in MAL"
										}
									},
									{
										"source": {
											"name": "SubSegment in FinalTable",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SubSegment in FinalTable"
										}
									},
									{
										"source": {
											"name": "SubSegment in MAL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SubSegment in MAL"
										}
									},
									{
										"source": {
											"name": "PartnerSpecialization in Final Table",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartnerSpecialization in Final Table"
										}
									},
									{
										"source": {
											"name": "PartnerSpecialization in MPL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PartnerSpecialization in MPL"
										}
									},
									{
										"source": {
											"name": "PartnerSubSpecialization in Final Table",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartnerSubSpecialization in Final Table"
										}
									},
									{
										"source": {
											"name": "PartnerSubSpecialization in MPL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PartnerSubSpecialization in MPL"
										}
									},
									{
										"source": {
											"name": "Checkpoint_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Checkpoint_ID"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Sr_AttributesValidation_MAL_MPL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dest_AttributesValidationWithMALMPL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "QC Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-06T14:26:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Sr_AttributesValidation_MAL_MPL')]"
			]
		}
	]
}